* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a191f;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 60px;
}

.header__logo {
    font-size: 32px;
    text-decoration: none;
    color:white
}

.header__search {
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
}